{% extends "templates/base.twig" %}

{% block content %}
  <div class="author">
    <div class="author-header">
      <div class="author-avatar">
        {{ author_avatar }}
      </div>
      <div class="author-name">
        <h2>{{ author.nickname }}</h2>
        <h3 class="sub">{{ author.first_name }} {{ author.last_name }}</h3>
      </div>
    </div>
    <div class="author-body">
      {% if author_bio %}
        <div class="author-bio">
          <div class="post">
            <div class="post-header">
              <h1>{% trans "Biography" %}</h1>
            </div>
            <p>
              {{ author_bio }}
            </p>
          </div>
        </div>
      {% endif %}
      <div class="author-posts">
        <h1>{% trans "Posts" %}</h1>
          <div class="post">
            <div class="post-header">
              {% for post in author_posts %}
              <h3><a href="{{ post.link }}">{{ post.post_title }}</a></h3>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}