<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="#C30062">
  <meta name="msapplication-TileColor" content="#C30062">
  <meta name="msapplication-navbutton-color" content="#C30062">
  <meta name="theme-color" content="#C30062">
  <link rel="manifest" href="{{ site.template_url }}/assets/manifest.json" >

  <title>{{ site.name }} {{ site.title }}</title>
  <link rel="icon" sizes="192x192" href="{{ site.template_url }}/assets/images/logo_192.png">
  <link rel="stylesheet" href="{{ site.template_url }}/assets/css/ff3l.min.css" />
  {{ header }}
</head>
<body>
  <div class="sidebar left w20 sw100 mw30">
    <header>
      {% block header %}
      <a href="{{ site.wpurl }}">
        <img src="{{ site.template_url }}/assets/images/logo.png" alt="logo">
      </a>
      <div class="title">
        <h1>{{ site.name }}</h1>
        <h3 class="sub">{{ site.description }}</h3>
      </div>
      {% endblock %}
    </header>
  </div>
  <div class="main w60 ow20 sw100 sow0 mw70 mow30">
    <div class="wrapper">
      {% block content %}
      {% endblock %}
      {% if pagination %}
        <div class="paginator-container">
          <ul class="paginator">
            {% if pagination.prev %}
              <li>
                <a href="{{ pagination.prev.link}}" class="prev {{ pagination.prev.link|length ? '' : 'invisible'}}">
                  <i class="fa fa-arrow-left"></i>
                </a>
              </li>
            {% endif %}
            {% for page in pagination.pages %}
              <li>
                {% if page.link %}
                  <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                {% else %}
                  <span class="{{page.class}}">{{page.title}}</span>
                {% endif %}
              </li>
            {% endfor %}
            {% if pagination.next %}
              <li>
                <a href="{{ pagination.next.link}}" class="next {{ pagination.next.link|length ? '' : 'invisible'}}">
                  <i class="fa fa-arrow-right"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="sidebar right w20 sw100 mw30">
    <footer>
      <form class="search" method="get" action="{{ home }}/">
        <input type="text" name="s" placeholder="Suchen...">
        <button type="submit" value="">
          <i class="fa fa-search"></i>
        </button>
      </form>
      {% block footer %}
      <div class="sidebar-link-container">
        <ul class="sidebar-links">
          {% for item in menu.get_items %}
          <li class="{{ item.classes | join(' ') }}">
            <a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
            {% if item.get_children %}
              {% for child in item.get_children %}
                <li class="{{ child.classes | join(' ') }} child">
                  <a href="{{ child.get_link }}">{{ child.title }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <ul class="bottom">
        {% block footer_copyright %}
        <li>&copy; {{ site.name }}</li>
        {% endblock %}
      </ul>
      {% endblock %}
    </footer>
    {{ footer }}
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>