{% extends "templates/base.twig" %}

{% block content %}
{% for post in posts %}
  <div class="post-container">
    {% if post.get_thumbnail.get_src is not empty %}
    <div class="post-thumbmail">
      <img src="{{ post.get_thumbnail.get_src }}" />
    </div>
    {% endif %}
    <div class="post">
      <div class="post-header">
        <h2>{{ post.post_title }}</h2>
        <a class="post-author" href="{{ post.author.link }}">
          <h4 class="sub">{{ post.author.name }}</h4>
        </a>
      </div>
      <p>
        {{ post.get_preview(200) }}
      </p>
    </div>
  </div>
{% endfor %}
{% endblock %}