{% extends "templates/base.twig" %}
{% block content %}
<div class="banner gallery items-3 autoplay">
  {% for item in carousel.get_items %}
  <figure class="item carousel-pic">
    <img src="{{ item.get_link }}" alt="{{ item.title }}" />
    <span class="title">
      <h1 class="{{ item.classes | join(' ') }}">{{ item.title }}</h1>
      <h2 class="{{ item.classes | join(' ') }}">{{ item.description }}</h2>
    </span>
  </figure>
  {% endfor %}
</div>
{% for post in posts %}
<div class="post">
  {{ post.content }}
</div>
{% endfor %}
{% endblock %}