{% extends "templates/base.twig" %}
{% block content %}
<div class="banner gallery items-3 autoplay">
  {% for item in carousel.get_items %}
  <figure class="item carousel-pic">
    <img src="{{ item.get_link }}" alt="{{ item.title }}" />
    {% if item.title is not empty %}
      <h1 class="{{ item.classes | join(' ') }}">{{ item.title }}</h1>
    {% endif %}
    {% if item.description is not empty %}
      <h2 class="{{ item.classes | join(' ') }}">{{ item.description }}</h2>
    {% endif %}
  </figure>
  {% endfor %}
</div>
{% for post in posts %}
<div class="post-container">
  <div class="post">
    {{ post.content }}
  </div>
</div>
{% endfor %}
{% endblock %}